header {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: grey;
}

figcaption {
  font-size: smaller;
  text-align: center;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: 20px auto;
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: lightgrey;
}